{% extends 'base.html' %}

{% block title %}
	Добавление отелей в поиск
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyles.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-info">
            <form class="form-signin" method="post">
                <a href="/" class="btn btn-warning">Вернуться в главное меню</a>
                <a href="/usersRequests" class="btn btn-danger">Просмотр всех заявок пользователей</a>
                <a href="/users" class="btn btn-success">Все пользователи сайта</a>
                <h1 class="h3 mb-3 font-weight-normal">Добавление отелей в поиск</h1>
                <h6 class="mt-3 font-weight-normal">{{ suc }}</h6>
                <input type="text" name="city" id="city" class="form-control"  placeholder="Город" required="" autofocus=""><br>
                <input type="text" name="hotelName" id="hotelName" class="form-control" placeholder="Название отеля" required="" autofocus=""><br>
                <input type="text" name="shortInfo" id="shortInfo" class="form-control" placeholder="Краткое описание отеля" required="" autofocus=""><br>
                <input type="text" name="price" id="price" class="form-control" placeholder="Начальная стоимость проживания" required="" autofocus=""><br>
                <input type="text" name="imgOfHotel" id="imgOfHotel" class="form-control" placeholder="Главная картинка" required="" autofocus=""><br>
                <input type="text" name="imgOfHotel1" id="imgOfHotel1" class="form-control" placeholder="Дополнительная картинка"><br>
                <input type="text" name="imgOfHotel2" id="imgOfHotel2" class="form-control" placeholder="Дополнительная картинка"><br>
                <input type="text" name="imgOfHotel3" id="imgOfHotel3" class="form-control" placeholder="Дополнительная картинка"><br>
                <input type="text" name="imgOfHotel4" id="imgOfHotel4" class="form-control" placeholder="Дополнительная картинка"><br>
                <input type="text" name="description" id="description" class="form-control" placeholder="Подробное описание" required="" autofocus=""><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button><br>
            </form>
        </div>
    </div>
{% endblock %}